In [29]:
# !pip install pandas
# !pip install numby

In [23]:
import numpy as nu
import pandas as pd

In [24]:
df = pd.read_csv("autoscout-germanytest-dataset.csv")

In [25]:
df = df.drop_duplicates()

In [26]:
print(df)

     mileage        make           model               fuel       gear  \
0     235000         BMW             316             Diesel     Manual
1      92800  Volkswagen            Golf           Gasoline     Manual
2     149300        SEAT            Exeo           Gasoline     Manual
3      96200     Renault          Megane           Gasoline     Manual
4     156000     Peugeot             308           Gasoline     Manual
..       ...         ...             ...                ...        ...
594       10     Hyundai          Tucson  Electric/Gasoline  Automatic
595       12        Ford  Tourneo Custom             Diesel     Manual
596        5        Jeep         Compass  Electric/Gasoline  Automatic
597       12     Hyundai          Tucson           Gasoline  Automatic
598     2900       Cupra            Leon  Electric/Gasoline  Automatic

          offerType    price     hp  year
0              Used      NaN  116.0  2011
1              Used   6877.0  122.0  2011
2              Used      NaN  160.0  2011
3              Used   6950.0  110.0  2011
4              Used   6950.0  156.0  2011
..              ...      ...    ...   ...
594  Pre-registered  38440.0  265.0  2021
595            Used  39850.0  185.0  2021
596   Demonstration      NaN  179.0  2021
597  Pre-registered  39988.0  179.0  2021
598            Used  39990.0  245.0  2021

[584 rows x 9 columns]

In [27]:
df['price'] = df['price'].fillna(df['price'].mean())

In [28]:
print(df)

     mileage        make           model               fuel       gear  \
0     235000         BMW             316             Diesel     Manual
1      92800  Volkswagen            Golf           Gasoline     Manual
2     149300        SEAT            Exeo           Gasoline     Manual
3      96200     Renault          Megane           Gasoline     Manual
4     156000     Peugeot             308           Gasoline     Manual
..       ...         ...             ...                ...        ...
594       10     Hyundai          Tucson  Electric/Gasoline  Automatic
595       12        Ford  Tourneo Custom             Diesel     Manual
596        5        Jeep         Compass  Electric/Gasoline  Automatic
597       12     Hyundai          Tucson           Gasoline  Automatic
598     2900       Cupra            Leon  Electric/Gasoline  Automatic

          offerType         price     hp  year
0              Used  17652.013769  116.0  2011
1              Used   6877.000000  122.0  2011
2              Used  17652.013769  160.0  2011
3              Used   6950.000000  110.0  2011
4              Used   6950.000000  156.0  2011
..              ...           ...    ...   ...
594  Pre-registered  38440.000000  265.0  2021
595            Used  39850.000000  185.0  2021
596   Demonstration  17652.013769  179.0  2021
597  Pre-registered  39988.000000  179.0  2021
598            Used  39990.000000  245.0  2021

[584 rows x 9 columns]